<?xml version="1.0"?>
<config>
	<modules>
		<Nowlive_Vendor>
			<version>0.1.0</version>
		</Nowlive_Vendor>
	</modules>
	<global>
		<helpers>
			<nowlive_vendor>
				<class>Nowlive_Vendor_Helper</class>
			</nowlive_vendor>
		</helpers>
		<blocks>
			<nowlive_vendor>
				<class>Nowlive_Vendor_Block</class>
			</nowlive_vendor>
		</blocks>
        <resources>
            <nowlive_vendor_setup>
                <setup>
                    <module>Nowlive_Vendor</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </nowlive_vendor_setup>
            <nowlive_vendor_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </nowlive_vendor_write>
            <nowlive_vendor_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </nowlive_vendor_read>
        </resources>
        <models>
            <nowlive_vendor>
                <class>Nowlive_Vendor_Model</class>
                <resourceModel>nowlive_vendor_resource</resourceModel>
            </nowlive_vendor>
            <nowlive_vendor_resource>
                <class>Nowlive_Vendor_Model_Resource</class>
            </nowlive_vendor_resource>
        </models>
        <events>
            <controller_front_init_before>
                <observers>
                    <web3_lib_load>
                        <type>singleton</type>
                        <class>nowlive_vendor/observer</class>
                        <method>controllerFrontInitBefore</method>
                    </web3_lib_load>
                </observers>
            </controller_front_init_before>
        </events>
	</global>
</config> 