<?xml version="1.0"?>
<config>
	<modules>
		<Nowlive_Moonlet>
			<version>0.1.1</version>
		</Nowlive_Moonlet>
	</modules>
	<global>
		<helpers>
			<moonlet>
				<class>Nowlive_Moonlet_Helper</class>
			</moonlet>
		</helpers>
		<blocks>
			<moonlet>
				<class>Nowlive_Moonlet_Block</class>
			</moonlet>
		</blocks>
        <resources>
            <moonlet_setup>
                <setup>
                    <module>Nowlive_Moonlet</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </moonlet_setup>
            <moonlet_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </moonlet_write>
            <moonlet_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </moonlet_read>
        </resources>
        <models>
            <moonlet>
                <class>Nowlive_Moonlet_Model</class>
                <resourceModel>moonlet_resource</resourceModel>
            </moonlet>
            <moonlet_resource>
                <class>Nowlive_Moonlet_Model_Resource</class>
            </moonlet_resource>
        </models>
	</global>
	<admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Nowlive_Moonlet after="Mage_Adminhtml">Nowlive_Moonlet_Adminhtml</Nowlive_Moonlet>
                    </modules>
                </args>
            </adminhtml>
        </routers>
	</admin>

	<adminhtml>
        <layout>
            <updates>
                <moonlet module="Nowlive_Moonlet">
                    <file>moonlet.xml</file>
                </moonlet>
            </updates>
        </layout>
		<acl>
			<resources>
                <all>
                    <title>Allow Everything</title>
                </all>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<moonlet>
											<title>Nowlive - Extensions Information</title>
											<sort_order>0</sort_order>
										</moonlet>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<moonlet>
					<file>moonlet.xml</file>
				</moonlet>
			</updates>
		</layout>
	</adminhtml>

    <default>
        <moonlet>
        </moonlet>
    </default>
</config> 